@font-face {
  font-family: myFont;
  src: url(Poppins-Medium.ttf);
}
* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
}
.signin {
  position: relative;
  top: 0;
  left: 90%;
  background: rgba(255, 0, 0, 0.884);
  color: #fff;
  width: 95px;
  height: 40px;
  border-radius: 5%;
  cursor: pointer;
  font-size: 20px;
}
h1 {
  position: relative;
  top: 20px;
  left: 40px;
  font-size: 40px;
  color: rgba(255, 0, 0, 0.904);
  font-weight: lighter;
}
.intro {
  height: 100vh;
  background: url("images/background.jpg");
}
.intro p {
  text-align: center;

  color: #fff;
}
.p1 {
  position: relative;
  top: 22%;
  justify-content: center;
  text-align: center;
  font-size: 60px;
  font-weight: Medium;
}
.p2 {
  position: relative;
  top: 23%;
  justify-content: center;
  text-align: center;
  font-size: 60px;
  font-weight: Medium;
}
.p3 {
  position: relative;
  top: 24%;
  font-size: 35px;
}
.p4 {
  position: relative;
  top: 25%;
  font-size: 22px;
}
.get {
  position: relative;
  left: 24.6%;
  top: 28%;
  height: 60px;
  width: 200px;
  justify-content: center;
  text-align: center;
  background: rgba(255, 0, 0, 0.89);
  font-size: 20px;
  color: rgba(255, 255, 255, 0.884);
  cursor: pointer;
  transition: 0.1s;
  font-size: 20px;
}
.get:hover {
  background-color: rgb(255, 0, 0);
}
input {
  position: relative;
  left: 25%;
  top: 28%;
  height: 60px;
  width: 450px;

  text-align: left 20px;
  /* padding:10px 10px; */
  font-size: 20px;
  border: none;
}
hr {
  height: 9px;
  background: rgba(0, 0, 0, 0.801);
}
.prt2 {
  background: black;
  height: 80vh;
}
.prt2 p {
  position: relative;
  left: 7%;
  color: #fff;
}
.p5 {
  position: relative;
  top: 29.5%;
  font-weight: bold;

  font-size: 55px;
}
.p6 {
  position: relative;
  top: 30%;
  font-size: 30px;
}
.p7 {
  position: relative;
  top: 30%;
  font-size: 30px;
}
.p8 {
  position: relative;
  top: 30%;
  font-size: 30px;
  left: 7%;
}
.if {
  position: relative;
  left: 55%;
  border-left: 1px #fff;
  border-bottom: 1px #fff;
  height: 400px;
  width: 500px;
  bottom: 120px;
}
.prt3 {
  height: 80vh;
  width: 100vw;
  background: black;
}
.prt4 {
  width: 100vw;
  height: 40vh;
  background: black;
}
.mobile {
  position: relative;
  top: 12%;
  left: 60px;
  height: 450px;
  width: 550px;
}
.p9 {
  position: relative;
  bottom: 48%;
  left: 60%;
  font-size: 45px;
  font-weight: Medium;
  color: #fff;
}
.p10 {
  position: relative;
  bottom: 40%;
  left: 60%;
  font-size: 25px;
  font-weight: Medium;
  color: #fff;
}
.p11 {
  position: relative;
  left: 10%;
  top: 22%;
  font-size: 60px;
  font-weight: Medium;
  color: #fff;
}
.p12 {
  position: relative;
  left: 10%;
  top: 23%;
  font-size: 35px;
  font-weight: Medium;
  color: #fff;
}
.prt5 {
  background: black;
  height: 80vh;
  width: 100vw;
}
.kids {
  position: relative;
  left: 13%;
  top: 14%;
  height: 400px;
  width: 500px;
}
.p13 {
  position: relative;
  left: 55%;
  bottom: 32%;
  color: #fff;
  font-size: 60px;
  font-weight: Medium;
}
.p14 {
  position: relative;
  left: 60%;
  bottom: 32%;
  color: #fff;
  font-size: 30px;
  font-weight: Medium;
}
.prt6 {
  height: 80vh;
  width: 100vw;
  background: black;
}
.p15 {
  position: relative;
  top: 15%;
  left: 10%;
  font-size: 65px;
  font-weight: Medium;
  color: #fff;
}
.mob {
  position: relative;
  height: 400px;
  width: 550px;
  left: 55%;
  bottom: 50%;
}
.p16 {
  position: relative;
  left: 10%;
  top: 20%;
  color: #fff;
  font-size: 35px;
  font-weight: Medium;
}
.p17 {
  position: relative;
  left: 10%;
  top: 25%;
  color: #fff;
  font-size: 35px;
  font-weight: Medium;
}
.sq {
  position: relative;
  width: 350px;
  height: 100px;
  border-radius: 0.75em;
  background: #fff;
  bottom: 45%;
  left: 10%;
  border: 3px solid gray;
  background: black;
}
.sqp {
  position: relative;
  left: 28%;
  bottom: 50%;
  font-size: 20px;
  font-weight: lighter;
  align-items: center;
  color: #fff;
  justify-content: center;
}
.sqp1 {
  position: relative;
  left: 28%;
  bottom: 40%;
  font-size: 17px;
  font-weight: lighter;
  align-items: center;
  color: lightblue;
  justify-content: center;
}
.strange {
  height: 80px;
  width: 60px;
  position: relative;
  top: 10%;
  left: 5%;
}
.prt7 {
  background: black;
  width: 100vw;
  height: 100vh;
}
.f {
  position: absolute;
  color: #fff;
  font-size: 40px;

  left: 30%;
}
.what {
  position: relative;
  height: 100px;
  width: 800px;
  color: #fff;
  background: gray;
  left: 21%;
  top: 10%;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
button {
  position: relative;
  color: #fff;
  border: none;
  background: none;
  font-size: 35px;
  left: 50%;
}
